* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
	cursor: default;
	outline: none;
	scroll-behavior: smooth;
	cursor: default;
}

body {

	font-family: 'Courier New', Courier, monospace;
	font-size: 12px;
	background: rgb(45, 45, 45);
}


#main {
	position: fixed;
	width: 1px;
	height: 1px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	overflow: visible;
}

#canvas {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(40, 40, 40);
	color: rgb(68, 68, 68);
	border-radius: 10px;
}


#blackout {
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgb(0, 0, 0);
}

#analysis {
	display: none;
	position: fixed;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(20, 20, 20);
	padding: 4px 8px;
	border-radius: 4px;
}

.dot-analysis-display {
	position: relative;
	display: block;
	pointer-events: none;
	padding: 4px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.8);
	color: rgb(0, 255, 128);
	margin: 4px 0;
}

/* dashboard */
#dashboard {
	position: fixed;
	width: 100%;
	top: 0;
	text-align: center;
	background: rgb(53, 53, 53);
	color: rgb(26, 196, 226);
	z-index: 2;
}

/* floorboard */
#floorboard {
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
	background: rgb(53, 53, 53);
	color: rgb(26, 196, 226);
	z-index: 2;
}

button {
	position: relative;
	border: none;
	border-radius: 4px;
	margin: 4px 2px;
	padding: 4px;
	font-size: 12px;
	background: none;
	color: rgb(148, 148, 148);
	font-size: 14px;
}

button:hover {
	color: rgb(0, 163, 63);
}

button:active {
	background: rgb(49, 49, 49);
}

/* list */
.ul-horizontal {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.li-horizontal {
	display: inline;
}

/* dot */
.dot-layer {
	position: fixed;
	top: -1000px;
	left: -1000px;
	width: auto;
	pointer-events: all;
	color: rgb(0, 255, 128);
}

.dot-info {
	position: fixed;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.8);
	padding: 2px;
	border-radius: 2px;
	/* width: 220px; */
}


/* table */
.tb {
	border-collapse: collapse;
	border-spacing: 0;
}

.tb .title {
	color: cadetblue;
}

.tb .data {
	color: aquamarine;
	padding: 0 10px;
}

.tb .caption {
	text-align: left;
}

/* stops */
.stop-projection {
	position: fixed;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	transform: translate(-50%, -50%);
	border: 1px solid yellowgreen;
}


/* color picker */
.color-picker {
	color: hsl(66, 71%, 26%);
}